SECRET_KEY=2+o0kugta=)622w5rqb^w2hh!_=f0c&k-6&euj_jh=6syp0@8#
DEBUG=False
DATABASE_URL=MONGODB_URL=mongodb+srv://xatire:xatire2007@cluster0.fpebgcy.mongodb.net/?appName=Cluster0
RENDER=https://cha-project.onrender.com
